#POS-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: green; */
    gap: 1rem;
    table-layout: fixed;
}

#POS-menu-container {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-rows: 4fr 1fr;
    margin: 3rem;
    top: 0;
}

#POS-cart {
    width: 100%;
    margin: auto;
}

#POS-menu-buttons {
    gap: 1rem;
}