.manager-header-buttons-container {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: .5rem;
}

.manager-header-buttons {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #161615;
  color: white;
  border-radius: 10px;
  border: none;
  height: 2rem;
}

.manager-header-buttons:hover {
  background-color: #d82c2c;
}
